@mixin botaoPrimario {
    background-color: $corPrimaria;
    color: $branco;
}

@mixin botaoInvetido {
    background-color: $branco;
    color: $corPrimaria;
    border: 1px solid $corPrimaria;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &.primaria {
        @include botaoPrimario;

        &:hover {
            @include botaoInvetido;
        }
    }

    &.outline {
        @include botaoInvetido;

        &:hover {
            @include botaoPrimario;
        }

    }

    &:disabled {
        opacity: 0.5;
    }
}