@font-face {
    font-family: 'UbuntuRegular';
    src: url(Ubuntu-Regular.ttf) format(truetype);
}
@font-face {
    font-family: 'UbuntuBold';
    src: url(Ubuntu-Bold.ttf) format(truetype);
}
@font-face {
    font-family: 'UbuntuLight';
    src: url(Ubuntu-Light.ttf) format(truetype);
}