@import 'variaveis.scss';

*{
  font-family: $fontRegular;
  font-size: 20px;
}

html, body, #__next {
  height: 100vh;
  margin: 0;
}

.avatar{
  border-radius: 50%;
  object-fit: cover;
}

.oculto{
  display: none;
}


input{
  &::placeholder{
     /* chrome, opera, safari e firefox */
    color: $cinza2;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    /*ie 10-11*/
    color: $cinza2;
  }
  &::-ms-input-placeholder {
    /*ie 10-11*/
    color: $cinza2;
  }
}

.desktop {
  display: block;

  @media screen and (max-width: calc($desktopBreakPoint - 1px)) {
    display: none;
  }
}

.mobile {
  display: block;

  @media screen and (min-width: $desktopBreakPoint) {
    display: none;
  }
}


.mensagemValidacao {
  display: block;
  color: $vermelho;
  font-size: 90%;
  margin-top: -15px;
  margin-bottom: 15px;
}

@import '../public/fonts/fonts.scss';
@import '../components/button/button.scss';
@import "./paginaPublica.scss";
@import '../components/inputPublico/inputPublico.scss';
@import "../pages/cadastro/casdastro.scss"