@import 'variaveis.scss';

*{
  font-family: $fontRegular;
  font-size: 20px;
}

html, body, #__next {
  height: 100vh;
  margin: 0;
}

.avatar{
  border-radius: 50%;
  object-fit: cover;
}

.oculto{
  display: none;
}


input{
  &::placeholder{
     /* chrome, opera, safari e firefox */
    color: $cinza2;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    /*ie 10-11*/
    color: $cinza2;
  }
  &::-ms-input-placeholder {
    /*ie 10-11*/
    color: $cinza2;
  }
}

.desktop {
  display: block;

  @media screen and (max-width: calc($desktopBreakPoint - 1px)) {
    display: none;
  }
}

.mobile {
  display: block;

  @media screen and (min-width: $desktopBreakPoint) {
    display: none;
  }
}


.mensagemValidacao {
  display: block;
  color: $vermelho;
  font-size: 90%;
  margin-top: -15px;
  margin-bottom: 15px;
}


.barraNavegacao{
  ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 10px 0px;
    li{
      list-style: none;
      cursor: pointer;
    }
  }
}

strong {
  font-family: $fontBold;
}

body {
  @media screen and (min-width: $desktopBreakPoint) {
    background-color: $cinza5;
    background-image: url('../public/images/imagemDeFundoDesktop.svg');
  }
}

.largura30pctDesktop {
  @media screen and (min-width: $desktopBreakPoint) {
    width: 30%;
    margin: auto;
  }
}

@import '../public/fonts/fonts.scss';
@import '../components/button/button.scss';
@import "./paginaPublica.scss";
@import '../components/inputPublico/inputPublico.scss';
@import "../pages/cadastro/casdastro.scss";
@import "../components/layout/cabecalho.scss";
@import "../components/layout/rodape.scss";
@import "../components/feed/feed.scss";
